@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.board {
    
    text-align: center;
}

.board .leaderboard{
    margin-top: 6em;
    margin-bottom: 1em;
    
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 15%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}
.rank {
    font-size: 1.5em;
    padding-right: 0.5em;
    /* Adjust the font size as needed */
    margin-right: 0.5em;
    /* Add spacing between rank and image */
}

.glow1 {
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700;
    /* Gold */
    
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}

.glow2 {
    box-shadow: 0 0 10px #c0c0c0, 0 0 20px #c0c0c0, 0 0 30px #c0c0c0;
    /* Silver */
    
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}

.glow3 {
    box-shadow: 0 0 10px #cd7f32, 0 0 20px #cd7f32, 0 0 30px #cd7f32;
    /* Bronze */
  
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}

